# Docker: см. docker-compose.yml — Postgres на хосте на порту 5433
DATABASE_URL=postgresql://logix:logix@localhost:5433/logix?schema=public

PORT=3000

# WEB_ORIGIN=http://localhost:5173

# Dadata: подсказки адресов (КЛАДР/ФИАС)
DADATA_API_KEY=e6e25c6573bc04b903412239e0c433c184f17572
